<!DOCTYPE html>
<html>

<head>
    <title>MealPrice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 <script>function showTime() {
	document.getElementById('currentTime').innerHTML = new Date().toUTCString();
}
showTime();
setInterval(function () {
	showTime();
}, 1000);
</script>
</head>

<body>
    <header>
        <img src="static/images/index1.png" alt="logo" class="logo">
        <h1 id="site-title">MealPrice</h1>
        <p id="site-description">Your recipe for savings</p>
        <script>function showTime() {
	document.getElementById('currentTime').innerHTML = new Date().toUTCString();
}
showTime();
setInterval(function () {
	showTime();
}, 1000);
</script>
<body>
      <h1 class="title">Hello tous le monde ! </h1>
      <p id="currentTime"></p>
     
 
      
    </header>
<script>function showTime() {
	document.getElementById('currentTime').innerHTML = new Date().toUTCString();
}
showTime();
setInterval(function () {
	showTime();
}, 1000);
</script>
    <main>
       <h2>The recipe for your savings </h2>
<h3>In the world of cooking, controlling expenses is an art in itself.
MealPrice gives you the clarity
and precision to manage your costs without compromising quality.
Whether you're an enthusiast cooking at home or a professional
managing a restaurant menu, discover how every ingredient can be both delicious and economical.</h3>

    {% block content %} {% endblock%}

    <footer>
        <div class="footer-content">
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Votre entreprise. Tous droits réservés.</p>
        </div>
    </footer>

</body>

</html>
